#modal-container{
    max-width: 400px;
    min-height: 10rem;
    max-height: 30rem;
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;   
    left: 50%;    
    top: 50%;
    right: auto;
    bottom: auto;
    transform: 'translate(-50%,-50%)';
    margin: auto auto;
}

.modal-content{
    justify-content: center;       
}

.close-btn{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.form-container{
    display: flex;
    justify-content: center; 
    align-items: center;
}